*{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 10px;
}


.logo{
    width: 200px;
    margin-right: 5rem;
    margin-left: 9%;
}
.logo img{
    width: 100%;
}






.menu-top{
    width: 100%;
    margin: 0px;
    padding: 2px;
    flex: 3;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.menu-top ul{
    width: 100%;
}
.menu-top ul li{
    list-style: none;
    float: left;
    margin-top: 5px;
}
.menu-top ul li a{
    font-weight: bold;
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: black;
    padding: 0px 20px 0px 20px;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}
.menu-top ul li:hover{
    color: #dddddd;
    border-bottom: 1px solid black;
    transition: all 0.3s;
}

.cart-count{
    border: 1px black solid!important;
    margin: 0 0.5px!important;
    border-radius: 0!important;
}
.cart i{
    color: black;
    padding-right: 5px;
}
.cart{
    display: flex;
    align-items: center;
}
.cart i:hover{
    color: #555555;

}




.search input{
    border-radius: 20px;
}
.search button{
    border-radius: 20px;
    position: absolute;
    left: 96%;
}
.search button i{
    font-size: 100%;
    width: auto;
}




.container-fluid{
    font-family: 'Quicksand', sans-serif;
}
.info-col a , .info-col i{
    font-size: 28px;
    text-decoration: none!important;
    color: black;
}
.info-col a i{
    color: red;
}
.info-col:hover a, .info-col:hover i {
    color: rgba(3, 189, 111, 0.966);
}
.info-social i{
    font-size: 26px;
}
.info-foot{
    font-size: 14px;
    margin-top: 0.8rem;
}








/* -------footer */
.footer-3{
    background: rgb(245, 243, 243);
    padding: 1rem;
}
.footer-3 ul li{
    margin-top: 0.5rem;
}
.link-support ul li, .link-support ul li a{
    font-size: 12.5px;

}
.link-support ul{
    list-style: none;
}
.link-support ul li a{
    text-decoration: none;
    color: black;
}
.link-support ul li:hover a{
    color: brown;
}
.link-support .text{
    font-size: 13px;
    line-height: 1.5;
}


.total-deal{
    width: 130px;
    height: 35px;
}
.total-deal a{
    text-decoration: none;
    color: black;
    
}


